<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp-Freelancer</title>
    <link rel="stylesheet" href="style2.css"> 
</head>
<body>
    <header>
            <nav>
              <div class="logo">
                <h1>RetroCraftHub<span>You are a Freelancer</span></h1>
              </div>
            </nav>
    </header>
    <div class="form-container">
        <h2>SignUp</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
                <label for="jobProfile">Job Profile:</label>
                <select id="jobProfile" name="jobProfile" required>
                    <option value="Actor">Actor</option>
                    <option value="Music Producer">Music Producer</option>
                    <option value="Dancer">Dancer</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="jobexp">Job Experience(yrs):</label>
                <div class="options-container">
                    <input type="number" id="jobexp" name="jobexp" required>
                </div>
                <label for="paygrade">Expected Paygrade(rs.):</label>
                <div class="options-container">
                    <input type="number" id="paygrade" name="paygrade" required>
                </div>
            </div>
            <button type="submit" class="submit-btn">SignUp</button>
        </form>
        
    </div>
    <footer>
        <p>&copy; 2023 RetroCraftHub Website</p>
      </footer>
</body>
</html>