<!DOCTYPE html> 
<html lang="en"> 
  
<head> 
  <link rel="stylesheet" href="stylef.css">   
</head> 
  
<body> 
    <header> 
        <nav>
            <div class="logo">RetroCraftHub</div>
            <div>
                <a href="/recdashb" class="profile-btn">Dashboard</a>
                <a href="/recprofile" class="search-btn">Profile</a>
                <a href="#" class="notification-icon">Notification</a>
                <a href="/">Logout</a>
            </div>
        </nav>
    </header> 
    <h2 class = "rec">Fill your Expectations..</h2>
    
    <div class="form">
        
        <form action="/newjob" method="post">
          <label for="job">Job:</label>
          <select name="job" id="job" required>
            <option value="actor">Actor</option>
            <option value="musicProducer">Music Producer</option>
            <option value="dancer">Dancer</option>
          </select>
          <br>
          <label for="jobExperience">Job Experience:</label>
          
          <select name="jobExperience" id="jobExperience" required>
            <option value=">1yr">>1yr</option>
            <option value=">2yr">>2yrs</option>
            <option value=">2+yr">>2+yrs</option>
          </select>
          <label for="projects">About:</label>
          <input type="text" id="projects" name="projects">
          <button type="submit">Submit</button>
        </form>
    </div>
    <div class="previous-preferences">
      <div class="pjp">
      <h3>Previous Job Preferences:</h3>
      </div>
      <% if (recruiter && recruiter.jobPreferences && recruiter.jobPreferences.length > 0) { %>
          <% recruiter.jobPreferences.forEach((preference,index) => { %>
              <div class="freelancer-card">
                  <h3><%= preference.job %></h3>
                  <p>Experience: <%= preference.jobExperience %></p>
                  <p>About: <%= preference.projects %></p>
                  <form action="/deletePreference/<%= index %>" method="post">
                    <button type="submit">Delete</button>
                </form>
              </div>
          <% }); %>
      <% } else { %>
          <p>No previous job preferences found.</p>
      <% } %>
  </div>
</body> 
</html>